[Unit]
Description=Script
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /path/to/script
WorkingDirectory=/path/to
Restart=always

[Install]
WantedBy=multi-user.target
